In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("lab1.csv")

In [3]:
df

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [4]:
spe_df = df.loc[df["enjoy sport"].str.upper()=="YES"]

In [5]:
spe_df

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
3  sunny     warm     high  strong  cool   change         yes

In [6]:
spe_df = spe_df.iloc[:,:-1]

In [7]:
spe_df

     sky air temp humidity    wind water forecast
0  sunny     warm   normal  strong  warm     same
1  sunny     warm     high  strong  warm     same
3  sunny     warm     high  strong  cool   change

In [8]:
base = spe_df.iloc[0]
base

sky          sunny
air temp      warm
humidity    normal
wind        strong
water         warm
forecast      same
Name: 0, dtype: object

In [9]:
for x in range(1,len(spe_df)):
    base = base.where(spe_df.iloc[x] == base, other="???")

In [10]:
print("Specific :- \n",base.values)

Specific :-
 ['sunny' 'warm' '???' 'strong' '???' '???']